*{
    margin: 0;
    padding: 0;
}

    
/* Desktop */
@media only screen and (min-width: 961px) {
    .menu-container{
        background-color: rgb(53, 53, 53);
    color: beige;
    padding: 1%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid salmon 3px;
    }

    header{
        background-color: rgb(53, 53, 53);   
    }
    .gallery-container{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: 300px;
        gap: 15px;
    }

    .gallery-img{
        width: 100%;
        height:100%;
        object-fit: cover;
    }

    .logoHeader{
        display: flex;
        justify-content: flex-start;
        margin-left: 2%;
        width: 150px;
        height: 50px;
    }
    .logoHeader img{
        max-width: 100%;
        max-height: 100%;
    }
    .menu__nav{
        width: 100%; 
        justify-content: space-around;
    }
    .menu__lista{
        list-style: none; 
        display: flex; 
        /* justify-content: flex-end; */
        justify-content: space-around;
    }
    .menu__lista li a{
        color: beige;
        text-decoration: none;
    }
    .redes{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
        gap: 15px;  
    }
    .historia__2{
        width: 50%;
        display: flex;
        align-items: center;
        background-color: dimgray;
        color: beige;
        text-align: center;
        background-image: url(../imagenes/giphy2.gif);
        background-repeat: no-repeat;
        background-size: cover;
        font-size: larger;
    }
    .historia__1{
        width: 50%;
        display: flex;
        align-items: center;
        background-color: dimgray;
        color: beige;
        text-align: center;
        background-image: url(../imagenes/giphy1.gif);
        background-repeat: no-repeat;
        background-size: cover;
        font-size: larger;
    }
    
    /* .galery-item{
        width: 100%;
        height:100%;
        object-fit: cover;
    } */

}

/* Mobile */
@media(max-width: 450px){
    .menu-container{
        /* background-color: dimgray; */
        background-color: rgb(53, 53, 53);
        width: 100%;
        color: beige;
        padding: 1%;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        position: sticky;
        top: 0px;
        display: inline-block;
        text-align: center;
        align-items: center;
        margin-left: auto;
        margin-right: auto;
        
    }

    header{
        background-color: rgb(53, 53, 53);  
        border-bottom: solid salmon 3px; 
        
    }

    .gallery-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 200px;
        gap: 15px;
    
    }

    .gallery-img{
        width: 100%;
        height:100%;
        object-fit: cover;
    }

    .logoHeader{
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 50px;
    }
    .logoHeader img{
        
        margin-left: auto;
        margin-right: auto;
        max-width: 100%;
        max-height: 100%;
    }
    
    .menu__lista{
        list-style: none; 
        display: block; 
        /* justify-content: flex-end; */
        justify-content: center;
    } 
    .redes{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 15px;  
    }
    .historia__2{
        width: 50%;
        display: flex;
        align-items: center;
        background-color: dimgray;
        color: beige;
        text-align: center;
        background-image: url(../imagenes/giphy2.gif);
        background-repeat: no-repeat;
        background-size: cover;
        font-size: medium;
    }
    .historia__1{
        width: 50%;
        display: flex;
        align-items: center;
        background-color: dimgray;
        color: beige;
        text-align: center;
        background-image: url(../imagenes/giphy1.gif);
        background-repeat: no-repeat;
        background-size: cover;
        font-size: medium;
    }
}


/* Tablet */
@media (min-width: 451px) and (max-width: 960px){
    .menu-container{
        /* background-color: dimgray; */
        background-color: rgb(53, 53, 53);
        width: 100%;
        color: beige;
        padding: 1%;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
        position: sticky;
        top: 0px;
        display: inline-block;
        text-align: center;
        align-items: center;
        
    }

    header{
        background-color: rgb(53, 53, 53);  
        border-bottom: solid salmon 3px; 
        margin-left: auto;
        margin-right: auto;
    }
    

    .gallery-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: 200px;
        gap: 15px;
    
    }

    .gallery-img{
        width: 100%;
        height:100%;
        object-fit: cover;
    }

    .logoHeader{
        display: block;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
        width: 150px;
        height: 50px;
    }
    .logoHeader img{
        justify-content: center;
        max-width: 100%;
        max-height: 100%;
    }
    
    .menu__lista{
        list-style: none; 
        display: block; 
        /* justify-content: flex-end; */
        justify-content: center;
    } 
    .redes{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        gap: 15px;  
    }
    .historia__2{
        width: 50%;
        display: flex;
        align-items: center;
        background-color: dimgray;
        color: beige;
        text-align: center;
        background-image: url(../imagenes/giphy2.gif);
        background-repeat: no-repeat;
        background-size: cover;
        font-size: large;
    }
    .historia__1{
        width: 50%;
        display: flex;
        align-items: center;
        background-color: dimgray;
        color: beige;
        text-align: center;
        background-image: url(../imagenes/giphy1.gif);
        background-repeat: no-repeat;
        background-size: cover;
        font-size: large;
    }
}

/* -------------------- */

.gallery-img{
    width: 100%;
    height:100%;
    object-fit: cover;
}

.gallery-titulo{
    width: auto;
    background-image: radial-gradient(circle at 50% -20.71%, #ffb05a 0, #ffa152 16.67%, #fc8f48 33.33%, #f2793c 50%, #e76232 66.67%, #df4d2d 83.33%, #d93a2c 100%);
    color: beige;
    padding: 5px;
    text-align: center;
    align-items: center;
    font-size: larger;
}


.button{
    transition-duration: 0.4s;
}

.button:hover {
    background-color: coral; /* Green */
    padding: 2px;
    border-radius: 20%;
  }

/* .logoHeader{
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
    width: 150px;
    height: 50px;
} */

/* .logoHeader img{
    max-width: 100%;
    max-height: 100%;
} */

.menu{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}



.menu__lista li a{
    color: beige;
    text-decoration: none;
}

main{
    background-color: beige;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.main__logo{
    /* width: 100%;
    height: 600px; */
    border-top:solid coral 5px;
    /* background-image: url(../imagenes/logo.png);
    background-size: cover;
    background-repeat: none; */
}
.main__logo img{
    width: 100%;
    height: auto;
    
}

.main__spoty{
    
    padding: 5%;
    background-image: url(../imagenes/fondo.gif);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.main__spoty h2{
    color: coral;
}

.main__spoty{
    color: beige;
}

.banda{
    color: coral;
    text-align: center;
    padding: 5%;
    background-image: url(../imagenes/fotoGrupal.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
.banda p{
    font-weight: bolder;
    -webkit-text-stroke: 0.5px black;
    font-size: 40px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

footer{
    background-color: rgb(53, 53, 53);
    color: beige;
    padding: 2%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    border-top: solid coral 5px;
}

.footer__redes{
    text-align: center;
}

.footer_sigue{
    color: coral;
    text-align: center;
}


/* Aqui comienza el estilo de Historia */

.historia{
    display: block;
    padding: 1%;
    background-image: radial-gradient(circle at 50% -20.71%, #ffb05a 0, #ffa152 16.67%, #fc8f48 33.33%, #f2793c 50%, #e76232 66.67%, #df4d2d 83.33%, #d93a2c 100%);
    color: beige;
    text-align: center;
}

.historia__block1{
    display: flex;
    width: 100%;
    /* height: auto; */
    flex-wrap: wrap;
    align-items:stretch;
    background-color: dimgray;
    justify-content: space-between;
}

.historia__photo1{
    width: 50%;
    /* height: auto; */
    display: flex;
    justify-content: flex-end;
}

.historia__photo1 img{
    width: 100%;
    height: auto;
}

/* --------Historia 2--------- */
.historia__block2{
    display: flex;
    width: 100%;
    /* height: auto; */
    flex-wrap: wrap;
    align-items:stretch;
    background-color: dimgray;
    justify-content: space-between;
}



.historia__photo2{
    width: 50%;
    /* height: auto; */
    display: flex;
    justify-content: flex-end;
}

.historia__photo2 img{
    width: 100%;
    height: auto;
}



.cambio1{
    width: 100%;
    text-align: center;
    border-top: solid salmon 4px;
    color: #e76232;
    padding: 2%;
    background-image: url(../imagenes/giphy3.gif);
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

.videos{
    padding: 5%;
    background-color: dimgray;
    background-image: url(../imagenes/fondo3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    border-top:solid #df4d2d 5px;
}
.videos__1{
    width: 100%;
    /* padding: 1%; */
    background-image: radial-gradient(circle at 50% -20.71%, #ffb05a 0, #ffa152 16.67%, #fc8f48 33.33%, #f2793c 50%, #e76232 66.67%, #df4d2d 83.33%, #d93a2c 100%);
    color: beige;
    text-align: center;
}

.videos__2{
    width: 100%;
}

.news-container{
    width: 100%;
    padding: 5% 0 5% 0;
    background-image: url(../imagenes/fondo3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    flex-wrap: wrap;
    justify-content: center;
    display: flex;
    background-position: center;
}

.new-titulo{
    display: flex;
    width: 100%;
    justify-content: center;
    color: beige;

}

.new1{
    width: 25%;
    text-align: center;
    color: beige;
    border-radius: 10%;
    background: rgb(255,233,185);
    background: radial-gradient(circle, rgba(255,233,185,1) 0%, rgba(250,143,37,1) 35%, rgba(211,248,255,0) 100%);
}

.new2{
    width: 25%;
    text-align: center;
    color: beige;
    border-radius: 10%;
    background: rgb(34,193,195);
    background: radial-gradient(circle, rgba(34,193,195,1) 0%, rgba(253,187,45,0) 100%);
}

.new3{
    width: 25%;
    text-align: center;
    border-radius: 10%;
    color: beige;
    background: rgb(13,13,13);
    background: radial-gradient(circle, rgba(13,13,13,1) 0%, rgba(21,21,21,0) 100%);
}
.section-redes{
    background-image: url(../imagenes/fondo3.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    
}

.redes-container{
    width: 80%;
    text-align: center;
    color: salmon;
    margin-left: auto;
    margin-right: auto;
}

.redes-item{
    
    background-color: beige;
    border-radius: 5%;
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}
.redes-item img{
    
    width: 100%;
    height: auto;
    object-fit: cover;
   

}



