header {
  background-color: rgb(53, 53, 53);
  border-bottom: solid salmon 3px;
}
header .button {
  transition-duration: 0.4s;
}
header .button:hover {
  background-color: coral;
  /* Green */
  padding: 2px;
  border-radius: 20%;
}
header .menu__lista li a {
  color: beige;
  text-decoration: none;
}
header .menu {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (min-width: 961px) {
  header .menu-container {
    background-color: rgb(53, 53, 53);
    color: beige;
    padding: 1%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid salmon 3px;
  }
  header .menu-container .logoHeader {
    display: flex;
    justify-content: flex-start;
    margin-left: 2%;
    width: 150px;
    height: 50px;
  }
  header .menu-container .logoHeader img {
    max-width: 100%;
    max-height: 100%;
  }
  header .menu-container .menu {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  header .menu-container .menu .menu__nav {
    width: 100%;
    justify-content: space-around;
  }
  header .menu-container .menu .menu__nav .menu__lista {
    list-style: none;
    display: flex;
    /* justify-content: flex-end; */
    justify-content: space-around;
  }
}
@media (max-width: 450px) {
  header .menu-container {
    background-color: rgb(53, 53, 53);
    width: 100%;
    color: beige;
    padding: 1%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0px;
    display: inline-block;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  header .menu-container .logoHeader {
    width: 150px;
    height: 50px;
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
  }
  header .menu-container .logoHeader img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
  }
  header .menu-container .menu__lista {
    list-style: none;
    display: block;
    justify-content: center;
  }
}
@media (min-width: 451px) and (max-width: 960px) {
  header {
    margin-left: auto;
    margin-right: auto;
  }
  header .menu-container {
    /* background-color: dimgray; */
    background-color: rgb(53, 53, 53);
    width: 100%;
    color: beige;
    padding: 1%;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    position: sticky;
    top: 0px;
    display: inline-block;
    text-align: center;
    align-items: center;
  }
  header .menu-container .logoHeader {
    display: block;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 50px;
  }
  header .menu-container .logoHeader img {
    justify-content: center;
    max-width: 100%;
    max-height: 100%;
  }
  header .menu-container .menu__lista {
    list-style: none;
    display: block;
    /* justify-content: flex-end; */
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
