/* Error: Undefined mixin.
 *    ,
 * 10 | /     @include desktop{
 * 11 | |         position: sticky;
 * 12 | |         top: 0px;
 * 13 | |         display: flex;
 * 14 | |         justify-content: space-between;     
 * 15 | \     }
 *    '
 *   SCSS\components\_navBar.scss 10:5  @import
 *   SCSS\style.scss 2:9                root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a    \2577 \a 10 \2502  \250c      @include desktop{\a 11 \2502  \2502          position: sticky;\a 12 \2502  \2502          top: 0px;\a 13 \2502  \2502          display: flex;\a 14 \2502  \2502          justify-content: space-between;     \a 15 \2502  \2514      }\a    \2575 \a   SCSS\\components\\_navBar.scss 10:5  @import\a   SCSS\\style.scss 2:9                root stylesheet";
}
