
footer{
    background-color: rgb(53, 53, 53);
    color: beige;
    padding: 2%;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    border-top: solid coral 5px;

    .footer__redes{
        text-align: center;
    }
    
    .footer_sigue{
        color: coral;
        text-align: center;
    }
}



